.services {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   text-align: center;
}

.services-cards {
   align-items: baseline;
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 4rem 0;
}

.services-title {
   font-weight: 300;
}