.depoiments {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: auto;
   text-align: center;
}

.depoiments-title {
   font-weight: 300;
}

@media (max-width: 414px) {
   .depoiments {
      width: 250px;
   }
}