.formulario {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: auto;
   padding: 1rem;
}

.title {
   margin: 1rem 0;
   font-weight: 300
}

.text-area {
   border: none;
   border-radius: 5px;
   margin: .3rem 0 0;
   outline: none;
   padding: 1rem;
   width: 20rem;
   height: 20vh;
}

form button {
   margin-top: .5rem;
   width: 100%;
}

@media (max-width: 912px) {
   .formulario {
      height: auto;
   }
   .text-area {
      width: 100%;
   }
   
}
