.header {
   align-items: center;
   background: linear-gradient(to right, #C5796D, #DBE6F6);
   display: flex;
   justify-content: space-around;
   padding: 1rem 0;
   position: fixed;
   width: 100%;
}

.left {
   align-items: center;
   display: flex;
   justify-content: space-between;
   width: auto;
}

.logo {
   font-weight: 400;
   
}

@media (max-width: 1024px) {
   .left {
      justify-content: space-around;
      width: 70%;
   }
}

@media (max-width: 540px) {
   .left {
      display: none;
   }
}