.header {
   align-items: center;
   display: flex;
   justify-content: space-around;
   padding: 2rem 0;
}

.left {
   align-items: center;
   display: flex;
   justify-content: space-between;
   width: 40%;
}

.logo {
   font-weight: 400;
   
}