.message {
   animation: fadeInAnimation ease 1s;
   animation-iteration-count: 1;
   animation-fill-mode: forwards;
   padding: .5rem;
}

.message p {
   font-size: .8rem;
   font-weight: 400;
}

.success p {
   color: green;
}


.warning p, .error p {
   color: red;
}

@keyframes fadeInAnimation {
   0% {
       opacity: 0.3;
   }
   100% {
       opacity: 1;
    }
}