
.contato {
   align-items: center;
   display: flex;
   height: 100vh;
   justify-content: space-between;
   margin: 5rem auto 0;
   padding: 2rem;
}

.image {
   height: 100vh;
   padding-top: 10rem;
   width: 75%;
}

@media (max-width: 912px) {
   .contato {
      height: auto;
   }

   .image {
      display: none;
   }
}